<h1>Newsletters#show</h1>
<div class="container">
  <div class="row justify-content-center">
    <h4 class="mt-4 mb-4 display-4">Show details of newsletter <%= @newsletter.id %></h4>
  </div>
  <div class="row justify-content-center">
    <table class="table">
      <tbody>
        <tr>
          <th>Title:</th>
          <td><%= @newsletter.title %></td>
        </tr>
        <tr>
          <th>Description:</th>
          <td><%= @newsletter.description %></td>
        </tr>
        <tr>
          <th>Image:</th>
          <td><%= @newsletter.image %></td>
        </tr>
        <tr>
          <th>Article:</th>
          <td><%= @newsletter.article %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
